/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  padding-bottom: 0.7rem;
}
.bookList {
  display: none;
  flex-direction:column;
  border: 2px solid black;
  gap:10px;
  margin: 0 0.5rem;
  padding: 0.5rem 0.5rem;
}

.bookList.active {
  display: flex;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto 10px;
}

hr {
  border: .5px solid black;
  width: 50%;
  height: 0;
  margin: 25px auto;
}

li:nth-child(odd) {
  background-color: lightgray;
}

.removeButton {
  padding: 0.2rem;
  border: 1px solid black;

  /*   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);  */
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  gap: 0.5rem;
}

input {
  height: 30px;
  border: 3px solid black;
}

.button {
  width: 80px;
  height: 30px;
}

.li__first {
  align-self: center;
}
